<div class="container">
  <h1><%= @station.name %>(<%= @station.prefix %>)</h1>
  <% if @station.vouchers.any? %>
    <h2>Vouchers</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @station.vouchers.each do |voucher| %>
          <tr>
            <td><%= voucher.id %></td>
            <td><%= voucher.code %></td>
            <td><%= voucher.amount %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2" class="text-right"><strong>Total Amount:</strong></td>
          <td><%= @station.vouchers.sum(:amount) %></td>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info" role="alert">
      No vouchers found for this station.
    </div>
  <% end %>
</div>