<div class="container">
  <h1>Stations</h1>
  <div class="row">
    <div class="col-4">
      <h5>Over All Login Traffic Stats</h5>
      <%= line_chart [
        { name: "Login", data: @login_counts },
        { name: "Logout", data: @logout_counts }
      ], xtitle: "Time (Hour)", ytitle: "Event Count", curve: true %>
    </div>

    <div class="col-8">
      <h5>Per Station Daily Sales</h5>
      <%= column_chart @per_station_daily_sales.map { |date, agents| { name: date, data: agents } }, ytitle: "Station Sale" %>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Station Name</th>
        <th>Prefix</th>
        <th>Sold Voucher</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @stations.each do |station| %>
        <tr>
          <td><%=link_to station.name, station_path(station)%></td>
          <td><%= station.prefix %></td>
          <td><%= station.vouchers.count %></td>
          <td><%= station.vouchers.sum(:amount) %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2" class="text-right"></td>
        <td><%= @stations.sum { |s| s.vouchers.count } %></td>
        <td><%= @stations.sum { |s| s.vouchers.sum(:amount) } %></td>
      </tr>
    </tbody>
  </table>
</div>

<% if @stations.empty? %>
  <div class="alert alert-info" role="alert">
    No stations found.
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>